*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

ck-utils/.svn/
ck-utils/.classpath
ck-utils/.project
ck-utils/target/
ck-utils/.settings/

gleanStories/.settings/
gleanStories/.project
gleanStories/target/
gleanStories/.classpath

sendEmail/.classpath
sendEmail/.project
sendEmail/bin/
sendEmail/databases/sqlite/
sendEmail/.settings/

SpringBoot/testSpringBoot/.classpath
SpringBoot/testSpringBoot/.project
SpringBoot/testSpringBoot/bin/
SpringBoot/testSpringBoot/databases/sqlite/
SpringBoot/testSpringBoot/.settings/
SpringBoot/testSpringBoot/target/
SpringBoot/testSpringBoot/workspace/

test/testSpringmvcMysql/.classpath
test/testSpringmvcMysql/.project
test/testSpringmvcMysql/bin/
test/testSpringmvcMysql/databases/sqlite/
test/testSpringmvcMysql/.settings/
test/testSpringmvcMysql/target/
test/testSpringmvcMysql/workspace/

test/testAop/.classpath
test/testAop/.project
test/testAop/bin/
test/testAop/databases/sqlite/
test/testAop/.settings/
test/testAop/target/
test/testAop/.gitignore